.card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    padding: 5px 0;
    border-bottom: 1px solid black;
}

.card input{
    width: 100%;
}
.card button{
    height: 80%;
    align-self: flex-end;
    border: none;
    border-radius: 6px;
    background-color: rgb(156, 224, 150);
}